<div class="portfolio-card col-md-4" data-id="<%= portfolio_item.id %>">
  <div class="card mb-4 box-shadow">
    <%= image_tag(portfolio_item.thumb_image, class:"card-img-top") unless portfolio_item.thumb_image.nil? %>
    <div class="card-body">
      <span><%=link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span>
      <p class="card-text"><%= portfolio_item.subtitle %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to "Edit", edit_portfolio_path(portfolio_item), class: "btn btn-sm btn-outline-secondary" if logged_in?(:site_admin) %>
          <%= link_to "Delete", portfolio_item, class: "btn btn-sm btn-outline-secondary", method: :delete, data: {confirm: "Are you sure?"} if logged_in?(:site_admin) %>
        </div>
        <small class="text-muted">
          <%= distance_of_time_in_words(portfolio_item.created_at, Time.now) + ' ago' %>
        </small>
      </div>
    </div>
  </div>
</div>
