<h1>Angular Portfolio Items</h1>

<%= link_to "Create New Item", new_portfolio_url %>

<% @angular_portfolio_items.each do |portfolio_item| %>
  <h2><%=link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></h2>
  <p><%= portfolio_item.subtitle %></p>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.thumb_image unless portfolio_item.thumb_image.nil? %>
  <p>
  <%= link_to "Edit", edit_portfolio_path(portfolio_item)  if logged_in?(:site_admin) %>
  </p>
  <p>
  <%= link_to "Delete Portfolio", portfolio_item, method: :delete, data: {confirm: "Are you sure?"} if logged_in?(:site_admin) %>
  </p>
<% end %>
