<!-- <%= link_to "Create New Item", new_portfolio_url if logged_in?(:site_admin) %> -->

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row <%= "sortable" if logged_in?(:site_admin) %>">
      <%= render partial: 'portfolio_item', collection: @portfolio_items %>
    </div>
  </div>
</div>
