<div class="container">
  <div class="row">
    <div class="col-md-7">
        <%= image_tag @portfolio_item.main_image unless @portfolio_item.main_image.nil? %>
    </div>
    <div class="col-md-5">
        <h1><%= @portfolio_item.title %></h1>

        <hr>

        <em><%= @portfolio_item.subtitle %></em>

        <p><%= @portfolio_item.body %></p>

        <hr>

        <h3>Technologies Used:</h3>

        <% @portfolio_item.technologies.each do |t| %>
          <p><%= t.name %></p>
        <% end %>

        <p>
        <%= link_to "Delete Portfolio", @portfolio_item, method: :delete, data: {confirm: "Are you sure?"} if logged_in?(:site_admin) %>
        </p>
    </div>
  </div>
</div>
