<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Paulo Jonathas</h3>
    <nav class="nav nav-masthead justify-content-center nav_pages">
      <%= nav_helper 'nav-link', "span" %>
      <%= login_helper "nav-link" %>
    </nav>
  </div>
</header>
