<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="#"><%= fa_icon "github"%> Github</a></li>
      <li><a href="#"><%= fa_icon "instagram"%> Instagram</a></li>
      <li><a href="#"><%= fa_icon "twitter"%> Twitter</a></li>
      <li><a href="#"><%= fa_icon "facebook"%> Facebook</a></li>
    </ol>
  </div>
</div>
