<div class="<%= location %>">
   <div><%= link_to "Home", root_path %></div> 
   <div><%= link_to "About Me", about_me_path %></div> 
   <div><%= link_to "Contact", contact_path %></div> 
   <div><%= link_to "Blog", blogs_path %></div> 
   <div><%= link_to "Portfolio", portfolios_path %></div> 
 </div>
