<h1>Contact Me</h1>

<div class="row">
  <div class="col-md-6">
    <h3>My Address</h3>
    <p>Rua Mateus Lemos nº 4152</p>

    <h3>Phone</h3>
    <p>(85) 98778-1559</p>

    <h3>Email</h3>
    <p><a href="mailto:pjonathasalves@gmail.com?subject=PortfolioContact" "email me">Email me</a></p>
  </div>

  <div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3981.143727574361!2d-38.62637508571029!3d-3.778890744488342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c74ced1f8b8cf5%3A0x5c87075a2a3e9a1d!2sR.+Mateus+Lemos%2C+4152+-+Granja+Lisboa%2C+Fortaleza+-+CE%2C+60540-552!5e0!3m2!1sen!2sbr!4v1517792828270" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
