<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="cover-container text-center d-flex h-100 p-3 mx-auto flex-column">

      <%= render "shared/application_nav", location: 'top' %>

      <main role="main" class="inner cover">
        <%= yield %>
      </main>

      <%= render "shared/application_footer", location: 'top' %>

      <%= source_helper("application") %>
    </div>
  </body>
</html>
