<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta name="keywords" content="<%= @seo_keywords %>" />

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/portfolio_nav' %>

    <%= render 'shared/portfolio_masthead' unless logged_in?(:site_admin) %>

    <%= yield %>

    <%= render 'shared/portfolio_footer' %>

    <%= source_helper("portfolio") %>
  </body>
</html>
